.animated-border_animatedBorder__9pH9_ {
    height: max(2px, .15625vw);
    border: none;
    width: 100%;
    background-image: repeating-linear-gradient(0deg, #000, #000 9px, transparent 0, transparent 15px, #000 0), repeating-linear-gradient(90deg, #000, #000 9px, transparent 0, transparent 15px, #000 0), repeating-linear-gradient(180deg, #000, #000 9px, transparent 0, transparent 15px, #000 0), repeating-linear-gradient(270deg, #000, #000 9px, transparent 0, transparent 15px, #000 0);
    background-size: 0 0, 100% 3px, 0 0, 0 0;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;
    -webkit-animation: animated-border_border-animation__6euez .5s linear infinite;
    animation: animated-border_border-animation__6euez .5s linear infinite
}

@media(prefers-reduced-motion:reduce) {
    .animated-border_animatedBorder__9pH9_ {
        -webkit-animation: none;
        animation: none
    }
}

@-webkit-keyframes animated-border_border-animation__6euez {
    0% {
        background-position: 0 0, -15px 0, 100% -15px, 0 100%
    }

    to {
        background-position: 0 -15px, 0 0, 100% 0, -15px 100%
    }
}

@keyframes animated-border_border-animation__6euez {
    0% {
        background-position: 0 0, -15px 0, 100% -15px, 0 100%
    }

    to {
        background-position: 0 -15px, 0 0, 100% 0, -15px 100%
    }
}

.button_base__vmp7L {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 1;
    white-space: nowrap;
    -webkit-appearance: none;
    appearance: none
}

.button_base__vmp7L:disabled {
    pointer-events: none
}

.button_size-small__SAm5h {
    font-size: 2.34375vw;
    line-height: 1.4444444444;
    height: 1.9555555556em;
    padding: 0 .5777777778em
}

.button_size-medium__dWPZr {
    font-size: 3.3333333333vw;
    line-height: 1.453125;
    height: 2.078125em;
    padding: 0 .640625em
}

.button_size-large__bGG78 {
    font-size: 4.6875vw;
    line-height: 1.4555555556;
    height: 1.6888888889em;
    padding: 0 .7111111111em
}

.button_variant-default__nBmCA .button_background__K_QRl,
.button_variant-default__nBmCA .button_children__jUZtN {
    transition: -webkit-transform .25s cubic-bezier(.3, .7, .4, 1.5);
    transition: transform .25s cubic-bezier(.3, .7, .4, 1.5);
    transition: transform .25s cubic-bezier(.3, .7, .4, 1.5), -webkit-transform .25s cubic-bezier(.3, .7, .4, 1.5)
}

.button_variant-default__nBmCA:not(.button_mobile__Ufpev):focus .button_background__K_QRl,
.button_variant-default__nBmCA:not(.button_mobile__Ufpev):focus .button_children__jUZtN,
.button_variant-default__nBmCA:not(.button_mobile__Ufpev):hover .button_background__K_QRl,
.button_variant-default__nBmCA:not(.button_mobile__Ufpev):hover .button_children__jUZtN {
    -webkit-transform: translate(-.0625em, -.0625em);
    transform: translate(-.0625em, -.0625em);
    transition: -webkit-transform .25s cubic-bezier(.3, .7, .4, 1.5);
    transition: transform .25s cubic-bezier(.3, .7, .4, 1.5);
    transition: transform .25s cubic-bezier(.3, .7, .4, 1.5), -webkit-transform .25s cubic-bezier(.3, .7, .4, 1.5)
}

.button_variant-default__nBmCA:not(.button_mobile__Ufpev):active .button_background__K_QRl,
.button_variant-default__nBmCA:not(.button_mobile__Ufpev):active .button_children__jUZtN {
    -webkit-transform: translate(.046875em, .0625em);
    transform: translate(.046875em, .0625em);
    transition: -webkit-transform 34ms;
    transition: transform 34ms;
    transition: transform 34ms, -webkit-transform 34ms
}

.button_shadow__HKHrr {
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 102%;
    left: .078125em;
    top: .078125em;
    border-radius: var(--default-border-radius)
}

.button_background__K_QRl {
    position: relative;
    overflow: hidden;
    border-radius: var(--default-border-radius);
    border: var(--default-border-width) solid var(--default-border-color);
    background-color: #ffe927;
    position: absolute;
    inset: 0
}

.button_children__jUZtN {
    --text-border-width: max(2px, 0.04em);
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: var(--text-border-width);
    -webkit-text-stroke-color: #000
}

@media (max-width:1024px) {
    .button_children__jUZtN {
        --text-border-width: max(1px, 0.05em)
    }
}

.button_children__jUZtN {
    --text-shadow: 0.08em;
    --text-shadow-x: var(--text-shadow);
    text-shadow: var(--text-shadow-x) var(--text-shadow) 0 #000;
    font-family: var(--font-tusker-grotesk-8);
    color: #fff;
    z-index: 1;
    width: 100%
}

@media (max-width:1024px) {
    .button_size-small__SAm5h {
        font-size: 2.1484375vw
    }

    .button_size-medium__dWPZr {
        font-size: 2.5390625vw
    }

    .size-large-font-size:3.125vw
}

@media (max-width:767px) {
    .button_size-small__SAm5h {
        font-size: 4.8vw
    }

    .button_size-medium__dWPZr {
        font-size: 5.8666666667vw
    }

    .button_size-large__bGG78 {
        font-size: 9.6vw;
        height: 2em
    }
}

@-webkit-keyframes drawer_fade-in__aDzi8 {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes drawer_fade-in__aDzi8 {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes drawer_fade-out__2Hs5I {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes drawer_fade-out__2Hs5I {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@-webkit-keyframes drawer_drawer-in__kxUhC {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }

    to {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes drawer_drawer-in__kxUhC {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }

    to {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@-webkit-keyframes drawer_drawer-in-motion-reduce__IOTx_ {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes drawer_drawer-in-motion-reduce__IOTx_ {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes drawer_drawer-out__qX10I {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    to {
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
}

@keyframes drawer_drawer-out__qX10I {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    to {
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
}

@-webkit-keyframes drawer_drawer-out-motion-reduce__TR53c {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes drawer_drawer-out-motion-reduce__TR53c {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

.drawer_overlay__xjS3t {
    position: fixed;
    inset: 0;
    z-index: 100002;
    background-color: rgba(0, 0, 0, .5)
}

.drawer_overlay__xjS3t[data-state=open] {
    -webkit-animation: drawer_fade-in__aDzi8 .3s ease-in-out forwards;
    animation: drawer_fade-in__aDzi8 .3s ease-in-out forwards
}

.drawer_overlay__xjS3t[data-state=closed] {
    -webkit-animation: drawer_fade-out__2Hs5I .3s ease-in-out forwards;
    animation: drawer_fade-out__2Hs5I .3s ease-in-out forwards;
    -webkit-animation-delay: .15s;
    animation-delay: .15s
}

@media(prefers-reduced-motion:reduce) {
    .drawer_overlay__xjS3t[data-state=closed] {
        -webkit-animation-delay: 50ms;
        animation-delay: 50ms;
        -webkit-animation-duration: .25s;
        animation-duration: .25s
    }
}

.drawer_content__vVHh2 {
    --drawer-bg: #ff9cdd;
    --drawer-px: 2.7083333333vw;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100002;
    height: calc(100*var(--vh));
    width: 50vw;
    background-color: var(--drawer-bg);
    padding-top: 1.4583333333vw;
    border-radius: 0 !important;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: var(--default-border-radius);
    border: var(--default-border-width) solid var(--default-border-color)
}

@media (max-width:767px) {
    .drawer_content__vVHh2 {
        height: 100vh
    }
}

.drawer_content__vVHh2[data-state=open] {
    -webkit-animation: drawer_drawer-in__kxUhC .3s ease-in-out forwards;
    animation: drawer_drawer-in__kxUhC .3s ease-in-out forwards
}

@media(prefers-reduced-motion:reduce) {
    .drawer_content__vVHh2[data-state=open] {
        -webkit-animation-name: drawer_drawer-in-motion-reduce__IOTx_;
        animation-name: drawer_drawer-in-motion-reduce__IOTx_
    }
}

.drawer_content__vVHh2[data-state=closed] {
    -webkit-animation: drawer_drawer-out__qX10I .3s ease-in-out forwards;
    animation: drawer_drawer-out__qX10I .3s ease-in-out forwards
}

@media(prefers-reduced-motion:reduce) {
    .drawer_content__vVHh2[data-state=closed] {
        -webkit-animation-name: drawer_drawer-out-motion-reduce__TR53c;
        animation-name: drawer_drawer-out-motion-reduce__TR53c;
        -webkit-animation-duration: .25s;
        animation-duration: .25s
    }
}

.drawer_contentHeader__pZtzK {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 1.4583333333vw;
    line-height: 1.2;
    text-transform: uppercase;
    -webkit-font-feature-settings: "pnum" on, "lnum" on;
    font-feature-settings: "pnum" on, "lnum" on;
    flex-shrink: 0;
    padding: 0 var(--drawer-px)
}

.drawer_contentHeader__pZtzK .drawer_closeButton__NkigY {
    padding: .5208333333vw;
    display: flex;
    align-items: center;
    justify-content: center
}

.drawer_contentHeader__pZtzK .drawer_closeButton__NkigY svg {
    width: 1.1458333333vw;
    height: 1.1458333333vw
}

.drawer_contentChildren__k6S87 {
    flex-grow: 1;
    overflow: hidden;
    padding: 0 var(--drawer-px) var(--drawer-px)
}

@media (max-width:1024px) {
    .drawer_content__vVHh2 {
        width: 78.125vw;
        padding-top: .78125vw;
        --drawer-px: 1.5625vw
    }

    .drawer_contentHeader__pZtzK {
        font-size: 1.953125vw
    }

    .drawer_contentHeader__pZtzK .drawer_closeButton__NkigY {
        padding: .9765625vw
    }

    .drawer_contentHeader__pZtzK .drawer_closeButton__NkigY svg {
        width: 1.5625vw;
        height: 1.5625vw
    }
}

@media (max-width:767px) {
    .drawer_overlay__xjS3t {
        display: none;
        -webkit-animation: none;
        animation: none
    }

    .drawer_content__vVHh2 {
        width: 100vw;
        padding-top: 2.1333333333vw;
        padding-bottom: 80px;
        --drawer-px: 4.2666666667vw
    }

    .drawer_contentHeader__pZtzK {
        font-size: 5.3333333333vw
    }

    .drawer_contentHeader__pZtzK .drawer_closeButton__NkigY {
        padding: 2.6666666667vw
    }

    .drawer_contentHeader__pZtzK .drawer_closeButton__NkigY svg {
        width: 4.2666666667vw;
        height: 4.2666666667vw
    }
}

.price-badge_container__JoT6_ {
    position: relative;
    height: 2em;
    margin: 0 .7272em;
    display: flex;
    align-items: center
}

.price-badge_container__JoT6_>span {
    z-index: 100;
    position: relative;
    height: 100%;
    background-image: url(/images/price-badge/middle.png);
    background-size: auto 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: .2em;
    padding-bottom: .13em
}

.price-badge_container__JoT6_>span:before {
    left: 0;
    margin-left: .08em;
    background-image: url(/images/price-badge/left.png);
    -webkit-transform: translate(-99%);
    transform: translate(-99%)
}

.price-badge_container__JoT6_>span:after,
.price-badge_container__JoT6_>span:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    width: .7272em;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat
}

.price-badge_container__JoT6_>span:after {
    right: 0;
    margin-right: .08em;
    background-image: url(/images/price-badge/right.png);
    -webkit-transform: translate(99%);
    transform: translate(99%)
}

.price-badge_discount__vzbez {
    z-index: 100;
    position: relative;
    height: 100%;
    background-image: url(/images/price-badge/middle-discount.png);
    background-size: auto 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
    padding: 0 1px
}

.price-badge_discount__vzbez:before {
    left: 1px;
    background-image: url(/images/price-badge/left-discount.png);
    -webkit-transform: translate(-99%);
    transform: translate(-99%)
}

.price-badge_discount__vzbez:after,
.price-badge_discount__vzbez:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: .7272em;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat
}

.price-badge_discount__vzbez:after {
    right: 1px;
    background-image: url(/images/price-badge/right-discount.png);
    -webkit-transform: translate(99%);
    transform: translate(99%)
}

.tabular-number_number__IvIRS {
    white-space: nowrap
}

.tabular-number_number__IvIRS .tabular-number_char__RiJo1 {
    display: inline-flex;
    justify-content: center;
    min-width: var(--char-width);
    margin: 0 var(--char-margin-x)
}

.cart_container__m8iPD {
    height: 100%;
    display: flex;
    flex-direction: column
}

.cart_content__MXHzC {
    position: relative;
    height: 100%;
    overflow: hidden;
    --scrollbar-padding: 12px;
    --scrollshade-padding: 20px
}

.cart_content__MXHzC .cart_emptyState__3KF1i {
    display: grid;
    place-items: center;
    height: 100%
}

.cart_content__MXHzC .cart_emptyState__3KF1i p {
    --text-border-width: max(2px, 0.04em);
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: var(--text-border-width);
    -webkit-text-stroke-color: #000
}

@media (max-width:1024px) {
    .cart_content__MXHzC .cart_emptyState__3KF1i p {
        --text-border-width: max(1px, 0.05em)
    }
}

.cart_content__MXHzC .cart_emptyState__3KF1i p {
    --text-shadow: 0.1em;
    --text-shadow-x: var(--text-shadow);
    text-shadow: var(--text-shadow-x) var(--text-shadow) 0 #000;
    font-size: max(40px, 4.6875vw);
    line-height: 1.4444444444;
    font-family: var(--font-tusker-grotesk-8);
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    -webkit-user-select: none;
    user-select: none
}

.cart_content__MXHzC .cart_contentScroll__ljK_z {
    height: 100%;
    padding-top: 1.6666666667vw;
    padding-bottom: 1.6666666667vw;
    padding-right: var(--scrollbar-padding);
    overflow-y: auto
}

.cart_content__MXHzC .cart_contentScroll__ljK_z::-webkit-scrollbar {
    width: 12px
}

.cart_content__MXHzC .cart_contentScroll__ljK_z::-webkit-scrollbar-thumb {
    background: #f5e12f;
    border: 3px solid #161616;
    border-radius: 10px;
    box-shadow: 0 0 #f3f169, inset 2px 2px 1px 1px #e9e08f
}

.cart_content__MXHzC .cart_contentScroll__ljK_z::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .17);
    border-radius: 10px
}

.cart_content__MXHzC .cart_contentScroll__ljK_z>:not(:last-child) {
    margin-bottom: 2.5vw
}

.cart_content__MXHzC .cart_scrollShade__I_sRk {
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
    position: absolute;
    top: 0;
    right: var(--scrollshade-padding);
    left: 0;
    z-index: 490;
    height: 1.6666666667vw;
    background: linear-gradient(180deg, var(--drawer-bg) 0, rgba(255, 156, 221, 0) 100%)
}

.cart_content__MXHzC .cart_scrollShade__I_sRk.cart_scrollShadeBottom___GzZb {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    top: auto;
    bottom: 0
}

.cart_footer__j_jeY {
    flex-shrink: 0
}

.cart_footer__j_jeY .cart_animatedBorder__EkrGv {
    margin: 0 0 1.6666666667vw
}

.cart_footer__j_jeY .cart_footerBackStockMessage__rvkqF {
    margin-bottom: 1.6666666667vw
}

.cart_footer__j_jeY .cart_checkoutContainer__56IDA {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.cart_footer__j_jeY .cart_checkoutContainer__56IDA.cart_disabled__ZURiH {
    opacity: .8;
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none
}

.cart_footer__j_jeY .cart_checkoutContainer__56IDA.cart_disabled__ZURiH .cart_checkoutButton__dC0FI {
    -webkit-filter: grayscale(1);
    filter: grayscale(1)
}

.cart_footer__j_jeY .cart_checkoutContainer__56IDA .cart_checkoutButton__dC0FI {
    font-size: max(20px, 2.6041666667vw);
    transition: -webkit-filter .25s ease-in-out;
    transition: filter .25s ease-in-out;
    transition: filter .25s ease-in-out, -webkit-filter .25s ease-in-out;
    flex-grow: 1;
    margin-right: 1.25vw
}

.cart_footer__j_jeY .cart_checkoutContainer__56IDA .cart_detail__5WOns {
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1
}

.cart_footer__j_jeY .cart_checkoutContainer__56IDA .cart_detail__5WOns label {
    font-size: 1.6666666667vw
}

.cart_footer__j_jeY .cart_checkoutContainer__56IDA .cart_detail__5WOns p {
    font-size: 3.75vw
}

.cart_cartProduct__W4MiX {
    display: flex;
    align-items: stretch;
    position: relative
}

.cart_cartProduct__W4MiX .cart_image__uBs_Y {
    min-width: 9.1666666667vw;
    width: 9.1666666667vw;
    min-height: 10.9375vw;
    height: auto;
    margin-right: 1.6666666667vw;
    background-color: #fff;
    display: flex;
    overflow: hidden;
    position: relative;
    border-radius: var(--default-border-radius);
    border: var(--default-border-width) solid var(--default-border-color)
}

.cart_cartProduct__W4MiX .cart_cartProductContent__gHpRO {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    flex-grow: 1
}

.cart_cartProduct__W4MiX .cart_cartProductContent__gHpRO .cart_titleAndPrice__og5hx {
    display: flex;
    justify-content: space-between;
    align-items: flex-start
}

.cart_cartProduct__W4MiX .cart_cartProductContent__gHpRO .cart_titleAndPrice__og5hx h3 {
    font-size: 1.875vw;
    font-weight: 800;
    line-height: 1;
    text-transform: uppercase;
    margin-right: 1.5555555556em
}

.cart_cartProduct__W4MiX .cart_cartProductContent__gHpRO .cart_titleAndPrice__og5hx .cart_price__3Ix_p {
    font-size: 1.25vw;
    font-weight: 800;
    line-height: 1.2;
    margin-top: .4166666667vw
}

.cart_cartProduct__W4MiX .cart_cartProductContent__gHpRO .cart_removeButton__kUWEK {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: max(12px, 1.0416666667vw);
    font-weight: 700;
    text-transform: uppercase;
    opacity: .5
}

.cart_cartProduct__W4MiX .cart_cartProductContent__gHpRO .cart_removeButton__kUWEK:hover {
    opacity: 1
}

.cart_cartProduct__W4MiX>div:not(.cart_removeSpinnerContainer__QtjOM) {
    transition: opacity .15s ease-in-out
}

.cart_cartProduct__W4MiX.cart_removing__LFyzS>div:not(.cart_removeSpinnerContainer__QtjOM) {
    opacity: .1
}

.cart_descriptionBoxes__cgZDs {
    margin-top: .8333333333vw
}

.cart_descriptionBoxes__cgZDs .cart_descriptionBox__IEqr0:not(:last-child) {
    margin-bottom: .5208333333vw
}

.cart_backStockedMessage__KH4G6 {
    display: flex;
    align-items: flex-start;
    color: #000;
    margin-top: max(16px, .8333333333vw);
    font-family: var(--font-inter);
    font-size: max(16px, .9375vw);
    font-weight: 800;
    letter-spacing: -.05em;
    border-radius: 6px;
    background-color: #ffe927;
    border: 3px solid;
    padding: max(3px, .15625vw) max(7px, .3645833333vw)
}

.cart_backStockedMessage__KH4G6 svg {
    margin-right: max(8px, .4166666667vw);
    margin-top: max(2px, .1041666667vw)
}

.cart_backStockedMessage__KH4G6 p {
    line-height: 1.25vw
}

.cart_backStockedMessage__KH4G6 p span {
    white-space: nowrap
}

.cart_backstock__product__ADvOz {
    width: 75%
}

.cart_descriptionBox__IEqr0 {
    font-size: 1.4583333333vw;
    font-weight: 800;
    line-height: 1;
    display: flex;
    align-items: center
}

.cart_descriptionBox__IEqr0>label {
    margin-right: .8333333333vw
}

.cart_quantityContainer__Ieq4i {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.8em;
    min-width: 1.8em;
    border: .108em solid #000;
    border-radius: 50%;
    overflow: hidden;
    transition: opacity .15s ease-in-out
}

.cart_quantityContainer__Ieq4i>* {
    flex-shrink: 0
}

.cart_quantityContainer__Ieq4i button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 .25em
}

.cart_quantityContainer__Ieq4i button:first-child {
    margin-right: .25em
}

.cart_quantityContainer__Ieq4i button:last-child {
    margin-left: .25em
}

.cart_quantityContainer__Ieq4i button:not(:disabled):hover {
    background-color: rgba(0, 0, 0, .1)
}

.cart_quantityContainer__Ieq4i button svg {
    width: 1em;
    height: 1em
}

.cart_quantityContainer__Ieq4i.cart_loading__c5tOb {
    opacity: .3
}

.cart_quantitySpinnerContainer__C2Lu6 {
    width: 1em;
    height: 1em;
    position: absolute;
    right: -1.5em;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: opacity .15s ease-in-out, visibility .15s ease-in-out;
    opacity: 0;
    visibility: invisible
}

@-webkit-keyframes cart_spin__XAKLx {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.cart_quantitySpinnerContainer__C2Lu6 .cart_quantitySpinner__liDDm {
    -webkit-animation: cart_spin__XAKLx 1s linear infinite;
    animation: cart_spin__XAKLx 1s linear infinite
}

.cart_quantitySpinnerContainer__C2Lu6.cart_active___DhQj {
    opacity: 1;
    visibility: visible
}

.cart_removeSpinnerContainer__QtjOM {
    width: 3em;
    height: 3em;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: opacity .15s ease-in-out, visibility .15s ease-in-out;
    opacity: 0;
    visibility: invisible
}

@keyframes cart_spin__XAKLx {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.cart_removeSpinnerContainer__QtjOM .cart_removeSpinner___uMeY {
    -webkit-animation: cart_spin__XAKLx 1s linear infinite;
    animation: cart_spin__XAKLx 1s linear infinite
}

.cart_removeSpinnerContainer__QtjOM.cart_active___DhQj {
    opacity: 1;
    visibility: visible
}

@media (max-width:1024px) {
    .cart_content__MXHzC {
        --scrollbar-padding: 8px;
        --scrollshade-padding: 12px
    }

    .cart_content__MXHzC .cart_contentScroll__ljK_z {
        padding-top: 2.34375vw;
        padding-bottom: 2.34375vw
    }

    .cart_content__MXHzC .cart_contentScroll__ljK_z>:not(:last-child) {
        margin-bottom: 2.34375vw
    }

    .cart_content__MXHzC .cart_scrollShade__I_sRk {
        height: 2.34375vw
    }

    .cart_footer__j_jeY .cart_animatedBorder__EkrGv {
        margin: 0 0 1.5625vw
    }

    .cart_footer__j_jeY .cart_footerBackStockMessage__rvkqF {
        margin-bottom: 1.5625vw
    }

    .cart_footer__j_jeY .cart_checkoutContainer__56IDA .cart_detail__5WOns label {
        font-size: 1.5625vw
    }

    .cart_footer__j_jeY .cart_checkoutContainer__56IDA .cart_detail__5WOns p {
        font-size: 3.41796875vw
    }

    .cart_cartProduct__W4MiX .cart_image__uBs_Y {
        min-width: 11.71875vw;
        max-width: 11.71875vw;
        min-height: 15.625vw;
        margin-right: 1.3671875vw
    }

    .cart_cartProduct__W4MiX .cart_cartProductContent__gHpRO .cart_titleAndPrice__og5hx h3 {
        font-size: 1.953125vw
    }

    .cart_cartProduct__W4MiX .cart_cartProductContent__gHpRO .cart_titleAndPrice__og5hx .cart_price__3Ix_p {
        font-size: 1.5625vw;
        margin-top: 0
    }

    .cart_cartProduct__W4MiX .cart_cartProductContent__gHpRO .cart_removeButton__kUWEK {
        font-size: 1.5625vw
    }

    .cart_descriptionBoxes__cgZDs {
        margin-top: .78125vw
    }

    .cart_descriptionBoxes__cgZDs .cart_descriptionBox__IEqr0:not(:last-child) {
        margin-bottom: .390625vw
    }

    .cart_backStockedMessage__KH4G6 {
        width: auto;
        font-size: 1.7578125vw;
        padding: .29296875vw .68359375vw;
        margin-top: 0
    }

    .cart_backStockedMessage__KH4G6 svg {
        width: 16px
    }

    .cart_backStockedMessage__KH4G6 p {
        width: 100%;
        line-height: 1.5625vw
    }

    .cart_descriptionBox__IEqr0 {
        font-size: 1.5625vw
    }

    .cart_descriptionBox__IEqr0>label {
        margin-right: .78125vw
    }
}

@media (max-width:767px) {
    .cart_content__MXHzC .cart_contentScroll__ljK_z {
        padding-top: 4.2666666667vw;
        padding-bottom: 4.2666666667vw
    }

    .cart_content__MXHzC .cart_contentScroll__ljK_z>* {
        margin-bottom: 16.015625vw !important
    }

    .cart_content__MXHzC .cart_scrollShade__I_sRk {
        height: 4.2666666667vw
    }

    .cart_footer__j_jeY .cart_animatedBorder__EkrGv {
        margin: 0 0 4.2666666667vw
    }

    .cart_footer__j_jeY .cart_footerBackStockMessage__rvkqF {
        margin-bottom: 4.2666666667vw
    }

    .cart_footer__j_jeY .cart_checkoutContainer__56IDA {
        flex-direction: column-reverse
    }

    .cart_footer__j_jeY .cart_checkoutContainer__56IDA .cart_checkoutButton__dC0FI {
        font-size: 5.8666666667vw;
        margin-right: 0;
        width: 100%
    }

    .cart_footer__j_jeY .cart_checkoutContainer__56IDA .cart_detail__5WOns {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 4.2666666667vw
    }

    .cart_footer__j_jeY .cart_checkoutContainer__56IDA .cart_detail__5WOns label,
    .cart_footer__j_jeY .cart_checkoutContainer__56IDA .cart_detail__5WOns p {
        font-size: 5.8666666667vw
    }

    .cart_cartProduct__W4MiX .cart_image__uBs_Y {
        width: 32vw;
        min-width: 32vw;
        max-width: 32vw;
        min-height: 42.6666666667vw;
        margin-right: 3.7333333333vw
    }

    .cart_cartProduct__W4MiX .cart_cartProductContent__gHpRO .cart_titleAndPrice__og5hx {
        flex-direction: column
    }

    .cart_cartProduct__W4MiX .cart_cartProductContent__gHpRO .cart_titleAndPrice__og5hx h3 {
        font-size: 5.3333333333vw;
        margin-right: 0
    }

    .cart_cartProduct__W4MiX .cart_cartProductContent__gHpRO .cart_titleAndPrice__og5hx .cart_price__3Ix_p {
        margin-top: 2.1333333333vw;
        font-size: 3.7333333333vw
    }

    .cart_cartProduct__W4MiX .cart_cartProductContent__gHpRO .cart_removeButton__kUWEK {
        font-size: 4.2666666667vw;
        right: auto;
        bottom: -8.5333333333vw;
        left: -35.2vw
    }

    .cart_descriptionBoxes__cgZDs {
        margin-top: 3.2vw
    }

    .cart_descriptionBoxes__cgZDs .cart_descriptionBox__IEqr0:not(:last-child) {
        margin-bottom: 2.1333333333vw
    }

    .cart_backStockedMessage__KH4G6 {
        margin-top: 3.2vw;
        font-size: 4.2666666667vw;
        padding: .8vw 1.8666666667vw
    }

    .cart_backStockedMessage__KH4G6 svg {
        width: 24px
    }

    .cart_backStockedMessage__KH4G6 p {
        line-height: 4.2666666667vw
    }

    .cart_descriptionBox__IEqr0 {
        font-size: 4.2666666667vw
    }

    .cart_descriptionBox__IEqr0>label {
        margin-right: 2.1333333333vw
    }
}

.cart_stripes__VxyVS {
    background-color: #70acfe;
    width: 26.0416666667vw;
    height: 26.0416666667vw;
    position: absolute;
    top: 50%;
    left: 50%;
    --transform: translate(-50%, -50%)
}

@-webkit-keyframes cart_rotate__hjZ4v {
    0% {
        -webkit-transform: var(--transform) rotate(0deg);
        transform: var(--transform) rotate(0deg)
    }

    to {
        -webkit-transform: var(--transform) rotate(1turn);
        transform: var(--transform) rotate(1turn)
    }
}

@keyframes cart_rotate__hjZ4v {
    0% {
        -webkit-transform: var(--transform) rotate(0deg);
        transform: var(--transform) rotate(0deg)
    }

    to {
        -webkit-transform: var(--transform) rotate(1turn);
        transform: var(--transform) rotate(1turn)
    }
}

.cart_stripes__VxyVS {
    -webkit-animation: cart_rotate__hjZ4v 23s linear infinite;
    animation: cart_rotate__hjZ4v 23s linear infinite
}

@media (prefers-reduced-motion:reduce) {
    .cart_stripes__VxyVS {
        -webkit-transform: none;
        transform: none;
        -webkit-animation: none;
        animation: none
    }
}

@media (max-width:767px) {
    .cart_stripes__VxyVS {
        width: 80vw;
        height: 80vw
    }
}

.cart_slapperRewardDescription__TCUJ_ {
    font-size: max(12px, .9722222222vw);
    line-height: 1.25;
    margin-top: 1em;
    flex-grow: 1;
    font-weight: 700
}