.header__wrap {
    display: flex;
    justify-content: space-between;
    width: 96vw;
    text-align: center;
    align-items: center;
    margin: 1vw 2vw;
}

.header__wrap h1 {
    font-size: 2.5vw;
    position: relative;
}

.header__wrap h1::before {
    content: '';
    height: 0.4vw;
    background: #000;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -0.3vw;
    border-radius: 50px;
}

.header__wrap .header__left a {
    border: 0.3vw solid #000;
    padding: 0.5vw 2vw;
    border-radius: 3vw;
    font-size: 1.5vw;
}

.header__wrap .header__left a:hover {
    background: #000;
    color: #fff;

}

.header__wrap .header__right a {
    border: 0.3vw solid #000;
    padding: 0.5vw 2vw;
    border-radius: 3vw;
    font-size: 1.5vw;
}

.header__wrap .header__right a:hover {
    background: #000;
    color: #fff;
}

@media (max-width:1200px) {
    .header__wrap .header__left {
        font-size: 3vw;
    }

    .header__wrap h1 {
        font-size: 3.5vw;

    }

    .header__wrap .header__right {
        font-size: 3vw;
    }
}

@media (max-width:765px) {
    .header__wrap .header__left {
        font-size: 4vw;
    }

    .header__wrap h1 {
        font-size: 4.5vw;

    }

    .header__wrap .header__right {
        font-size: 4vw;
    }
}

@media (max-width:486px) {
    .header__wrap {
        margin-bottom: 2vh;
    }

    .header__wrap .header__left a {
        font-size: 5vw;
    }

    .header__wrap h1 {
        font-size: 8vw
    }

    .header__wrap .header__right a {
        font-size: 5vw;
    }
}