.section6__inner {
    width: 100%;
    height: 1480px;
    background: #FFAEE5;
    border-radius: 20px;
    border: 6px solid #000;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    margin-bottom: 150px;
}

img.spin2 {
    animation: spin 15s infinite linear;
    position: absolute;
    width: 5000px;
    height: 5000px;
    left: 50%;
    top: 100%;
    margin-left: -2500px;
    margin-top: -2500px;
}

.section6__wrap {
    padding: 0 100px;
}

.section6__wrap h2 {
    color: #fff;
    text-shadow: 5px 5px #000;
    font-size: 6rem;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 10%;
    z-index: 10;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.section6__wrap .section6__sub__title {
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
    position: relative;
    z-index: 10;
}

.section6__inner__box {
    display: flex;
    justify-content: space-between;
}

/* box1 */
.section6__inner__box .section6__box1 {
    width: 30%;
    height: 697px;
    background: #fff;
    border-radius: 20px;
    position: relative;
    bottom: -200px;
}

.section6__box1 .section6__image__inner1 {
    width: 100%;
    height: 500px;
    background: #8060FE;
    border-start-end-radius: 20px;
    border-start-start-radius: 20px;
    border: 6px solid #000;
}

.section6__desc__inner1 {
    border-left: 6px solid #000;
    border-right: 6px solid #000;
    border-bottom: 6px solid #000;
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
    width: 100%;
    height: 197px;
    padding: 3rem 4rem;
    font-size: 1.9rem;
    background: #5AD2B4;
}

.section6__image__inner1 img {
    width: 70%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 6px solid #000;
    border-radius: 100%;
}

/* box2 */
.section6__inner__box .section6__box2 {
    width: 30%;
    height: 697px;
    background: #fff;
    border-radius: 20px;
    position: relative;
    bottom: -200px;

}

.section6__box2 .section6__image__inner2 {
    width: 100%;
    height: 500px;
    background: #FEBF60;
    border-start-end-radius: 20px;
    border-start-start-radius: 20px;
    border: 6px solid #000;
}

.section6__desc__inner2 {
    border-left: 6px solid #000;
    border-right: 6px solid #000;
    border-bottom: 6px solid #000;
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
    width: 100%;
    height: 197px;
    padding: 3rem 4rem;
    font-size: 1.9rem;
    background: #5AD2B4;
}

.section6__image__inner2 img {
    width: 70%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 6px solid #000;
    border-radius: 100%;
}

/* box3 */
.section6__inner__box .section6__box3 {
    width: 30%;
    height: 697px;
    background: #fff;
    border-radius: 20px;
    position: relative;
    bottom: -200px;

}

.section6__box3 .section6__image__inner3 {
    width: 100%;
    height: 500px;
    background: #60A6FE;
    border-start-end-radius: 20px;
    border-start-start-radius: 20px;
    border: 6px solid #000;
}

.section6__desc__inner3 {
    border-left: 6px solid #000;
    border-right: 6px solid #000;
    border-bottom: 6px solid #000;
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
    width: 100%;
    height: 197px;
    padding: 3rem 4rem;
    font-size: 1.9rem;
    background: #5AD2B4;
}

.section6__image__inner3 img {
    width: 70%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
}

/* bottomimg*/
#section6 .section6__bottom__img {
    width: 100%;
    position: absolute;
    bottom: -40%;
    left: 0;
}

#section6 .section6__top__img {
    position: absolute;
    width: 13%;
    right: 20px;
    top: 1%;
}