.game__wrap {
    width: 100%;
    height: 1020px;
    border-radius: 20px;
}

.game__wrap .game__search {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.game__wrap .game__search .search__button__box {
    width: 40%;
    height: 168px;
    background-color: #FFEB26;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    border: 6px solid #000;
    box-shadow: 10px 10px #000;

}

.game__wrap .game__search .search__button__box .search__button {
    font-family: "OKChan";
    font-size: 9rem;
    color: #fff;
    -webkit-text-stroke: 5px #000;
    text-shadow: 10px 10px #000;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.game__wrap .game__search img {
    border: 6px solid #000;
    border-radius: 20px;
}

/* 라벨 */
.game__wrap .game__label {
    width: 100%;
    border: 6px solid #000;
    display: flex;
    align-items: center;
    font-size: 5rem;
    background: #C58AF3;
    color: #fff;
    text-shadow: 5px 5px #000;
    margin-bottom: 20px;
    padding: 0 30px;
    box-sizing: border-box;
    border-radius: 20px;
}

.game__wrap .game__label img {
    width: 10%;
    margin: 0 30px;
}

/* 라벨 */

.game__wrap .game__inner {
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.game__inner .game__tetris {
    width: 49.5%;
    border: 6px solid #000;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.game__tetris .tetis__button {
    font-family: "OKChan";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7rem;
    -webkit-text-stroke: 3px #EC41B1;
    text-shadow: 10px 10px #EC41B1;
    color: #fff;
}

.game__inner .game__card {
    width: 49.5%;
    border: 6px solid #000;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.game__card .card__button {
    font-family: "OKChan";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7rem;
    -webkit-text-stroke: 3px #1965C9;
    text-shadow: 10px 10px #1965C9;
    color: #fff;
}

/* 라벨2 */
.game__wrap .game__label2 {
    width: 100%;
    border: 6px solid #000;
    display: flex;
    align-items: center;
    font-size: 5rem;
    background: #C58AF3;
    color: #fff;
    text-shadow: 5px 5px #000;
    margin-bottom: 20px;
    padding: 9px 30px;
    box-sizing: border-box;
    border-radius: 20px;

}

.game__wrap .game__label2 img {
    width: 15%;
    margin: 0 100px;
    position: absolute;
    right: 0;
}